extends layout

block content
  div(class="form-group")
          label(for="Divergente" class="col-sm-2 col-form-label") Divergente
          input#Divergente(type="Divergente" class="form-control" name="Divergente"  plaaceholder="no")
          br
          button(type="button" class="btn btn-primary") Submit
  div(class="form-group")
          label(for="Divergente" class="col-sm-2 col-form-label") Divergente
          input#Divergente(type="Divergente" class="form-control" name="Divergente"  plaaceholder="no")
          br
          button(type="button" class="btn ") Submit
